@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Work+Sans&display=swap');

.App {
  overflow-x: hidden;
  font-family: 'Comfortaa', sans-serif;
  font-family: 'Work Sans', sans-serif;
  width: 100dvw;
  height: 100dvh;
}

@media screen and (max-width: 550px) {
  #show {
    width: 95%;
  }
  #notShow {
    display: none;
  }
  #api-data{
    width: 95%;
  }
  #backButton {
    display: block;
  }
}


